th:hover {
    border-style: solid;
    border-color:lightsalmon ;
    
}
h1{
    color: white;
}
body{       
    text-align: center;
    background-color: peachpuff;
    margin-right:10px ;
 
}

.tabela{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.espaco{
    background-color: peachpuff;
}
th{
    background-color: white;
    border-collapse: initial;
    border-radius: 10px;

    
}


