th:hover {
    border-style: solid;
    border-color: peru;
}

body{
    text-align: center;
    background-color: lightgoldenrodyellow;
}

th{
    background-color: white;
    border-collapse: initial;
}


