p{
    font-family: Arial;
    font-size: 16px;
    color: rosybrown;
}



.botao{
    background-color:  rosybrown;
    border: white;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;

}

.botao:hover{
    cursor: pointer;
    background-color: white;
    color: rosybrown;
}

input{
    border-radius: 5px;
    border-color: rosybrown;
    border-style: solid;
}
h1{
 color: rosybrown;
}

body{
    text-align: center;
   background-color: bisque;
}

