p{
    font-family: Arial;
    font-size: 16px;
    color: white;
}

button{
    background-color:  royalblue;
    border: mediumblue;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 16px;

}

#conteudo{
    border: 2px;
    color: blue;   
}
li{
    font-family: Arial;
    font-size: 16px;
    color: blue;
    color-adjust: black;
}

body{
   background-color: powderblue;
}
