/*
seletor{
    propriedade: valor;
 }

*/

/*h1{
    border: 5px solid burlywood;
    color: white;
    background-color: blueviolet;
    padding: 20px;
    margin: 100px;
}*/

h2{
    color: darkslategray;
}
th{

    border-radius: 5%;
    padding: 20px;
    margin: 500px;
}

td{
    
   padding: 10px;
}
