h1 {
    font-family: Verdana;
}

h2 {
    font-family: sans-serif;
    color: #7d7d7d;
}

.uf {
    text-align: left;
}

table {
    font-family: Verdana;
    border-collapse: collapse;
}

.ultimaLinha {
    color: white;
    background-color: #c4180c;
}

.colunas {
    width: 210px;
    border-color: white;
    color: rgb(54, 52, 52);
    font-family: Verdana;
    font-weight: 100;
}

td,
th {
    color: grey;
    border: 1px solid #e4e4e4;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

p {
    font-family: Verdana;
    color: grey;
    text-align: right;
    font-size: 14px;
}